.DS_Store
.gradle
gradleTmp
build
node_modules
*.ipr
*.iws
/**/*.iml
/.idea
/.bundle
/.sass-cache
/.vagrant
out
/**/.DS_Store
bower_components/
logs/
phantomjsdriver.log
phantomjs-mac
phantomjs-ubuntu
member-portal.profile
*.pyc
/classes
jmeter.log
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
